<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Sample Records</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Address
                                  </th>
                                  <th>
                                      City
                                  </th>
                                  <th>
                                      Teams
                                  </th>
                              </thead>
                              <tbody>
                                  <tr><td>1</td><td>Juan Dela Cruz</td><td>Quezon City</td><td>Oud-Turnhout</td><td class="text-primary">member</td></tr>
                                  <tr><td>2</td><td>Maria Santos</td><td>Makati</td><td>Sinaai-Waas</td><td class="text-primary">member</td></tr>
                                  <tr><td>3</td><td>Jose Ramos</td><td>Ortigas</td><td>Baileux</td><td class="text-primary">member</td></tr>
                                  <tr><td>4</td><td>Antonio Reyes</td><td>BGC</td><td>Overland Park</td><td class="text-primary">member</td></tr>
                                  <tr><td>5</td><td>Luzviminda Cruz</td><td>Quezon City</td><td>Feldkirchen in Kärnten</td><td class="text-primary">member</td></tr>
                                  <tr><td>6</td><td>Rogelio Manalo</td><td>Pasig</td><td>Gloucester</td><td class="text-primary">member</td></tr>
                                  <tr><td>7</td><td>Cristina Bautista</td><td>Taguig</td><td>Leuven</td><td class="text-primary">member</td></tr>
                                  <tr><td>8</td><td>Fernando Mendoza</td><td>Marikina</td><td>Berlin</td><td class="text-primary">member</td></tr>
                                  <tr><td>9</td><td>Analyn Villanueva</td><td>Mandaluyong</td><td>Brussels</td><td class="text-primary">member</td></tr>
                                  <tr><td>10</td><td>Daniela Soriano</td><td>Pasay</td><td>Paris</td><td class="text-primary">member</td></tr>
                                  <tr><td>11</td><td>Ernesto Navarro</td><td>Caloocan</td><td>Tokyo</td><td class="text-primary">member</td></tr>
                                  <tr><td>12</td><td>Carla Jimenez</td><td>San Juan</td><td>Seoul</td><td class="text-primary">member</td></tr>
                                  <tr><td>13</td><td>Julio Garcia</td><td>Valenzuela</td><td>Osaka</td><td class="text-primary">member</td></tr>
                                  <tr><td>14</td><td>Bea Aquino</td><td>Las Piñas</td><td>Dubai</td><td class="text-primary">member</td></tr>
                                  <tr><td>15</td><td>Leonardo Salazar</td><td>Muntinlupa</td><td>Doha</td><td class="text-primary">member</td></tr>
                                  <tr><td>16</td><td>Gloria Abad</td><td>Malabon</td><td>Toronto</td><td class="text-primary">member</td></tr>
                                  <tr><td>17</td><td>Marvin Ong</td><td>Parañaque</td><td>New York</td><td class="text-primary">member</td></tr>
                                  <tr><td>18</td><td>Angelica Lim</td><td>Manila</td><td>San Francisco</td><td class="text-primary">member</td></tr>
                                  <tr><td>19</td><td>Benigno Francisco</td><td>Navotas</td><td>Chicago</td><td class="text-primary">member</td></tr>
                                  <tr><td>20</td><td>Estrella Torres</td><td>Antipolo</td><td>Rome</td><td class="text-primary">member</td></tr>
                                  <tr><td>21</td><td>Michael David</td><td>Quezon City</td><td>London</td><td class="text-primary">member</td></tr>
                                  <tr><td>22</td><td>Patricia Ramos</td><td>Makati</td><td>Sydney</td><td class="text-primary">member</td></tr>
                                  <tr><td>23</td><td>Rafael Delos Reyes</td><td>Pasig</td><td>Melbourne</td><td class="text-primary">member</td></tr>
                                  <tr><td>24</td><td>Vivian Castillo</td><td>Taguig</td><td>Los Angeles</td><td class="text-primary">member</td></tr>
                                  <tr><td>25</td><td>Christian Agbayani</td><td>San Juan</td><td>Seattle</td><td class="text-primary">member</td></tr>
                                  <tr><td>26</td><td>Faith Mendoza</td><td>Mandaluyong</td><td>Amsterdam</td><td class="text-primary">member</td></tr>
                                  <tr><td>27</td><td>Allan Padilla</td><td>Manila</td><td>Barcelona</td><td class="text-primary">member</td></tr>
                                  <tr><td>28</td><td>Kathleen Rivera</td><td>Caloocan</td><td>Madrid</td><td class="text-primary">member</td></tr>
                                  <tr><td>29</td><td>Jericho Pascual</td><td>Las Piñas</td><td>Lisbon</td><td class="text-primary">member</td></tr>
                                  <tr><td>30</td><td>Diana Robles</td><td>Valenzuela</td><td>Hanoi</td><td class="text-primary">member</td></tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
